body {
	background: url('../img/bg.jpg') center center no-repeat fixed;
	font-family: 'Microsoft JhengHei';
}

#load {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 1000;
}

tr.tr-only-hide {
	color: #D20B2A;
}

@media (max-width: 736px) {
	.table-rwd {
		min-width: 100%;
	}

	tr.tr-only-hide {
		display: none !important;
	}

	.table-rwd tr {
		display: block;
		border: 1px solid #ddd;
		margin-top: 5px;
	}

	.table-rwd td {
		text-align: left;
		font-size: 15px;
		overflow: hidden;
		display: block;
	}

	.table-rwd td:before {
		content: attr(data-th) " : ";
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 10px;
		color: #D20B2A;
	}

	.table-rwd.table-bordered td,
	.table-rwd.table-bordered th,
	.table-rwd.table-bordered {
		border: 0;
	}

}

.table-bird tr td{
	background:rgba(50%,90%,50%,0.5);
}